@tailwind base;
@tailwind components;
@tailwind utilities;

#pbackground {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, black, rgba(225, 5, 34, 0) 70%) repeat scroll 0% 0%,
    linear-gradient(135deg, #9caeb1, rgba(49, 5, 209, 0) 80%) repeat scroll 0% 0%,
    linear-gradient(225deg, #d5ebeb, rgba(10, 219, 216, 0) 80%) repeat scroll 0% 0%,
    rgba(0, 0, 0, 0) linear-gradient(315deg, black, rgba(9, 245, 5, 0) 100%) repeat scroll 0% 0%;
  font-size: 25px;
  color: #d5ebeb;
  opacity: 1;
}

/* Shapes */
#pbackground .shape {
  filter: blur(465px);
  position: absolute;
}

#pbackground .shape:nth-child(1) {
  background-color: #9caeb1;
  top: -340px;
  width: 300px;
  height: 300px;
}

#pbackground .shape:nth-child(2) {
  left: 100px;
  bottom: -150px;
  background-color: #c26cf3;
  width: 200px;
  height: 210px;
}

#pbackground .shape:nth-child(3) {
  background-color: #9caeb1;
  bottom: -150px;
  right: 100px;
  width: 300px;
  height: 300px;
}

/* Other page styling */
* {
  margin: 0;
  padding: 0;
}

#pbackground {
  font-family: 'Share Tech', sans-serif;
  font-size: 35px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-shadow: 8px 8px 10px #0000008c;
  background-color: #9caeb1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to left top, black, #9caeb1, #d5ebeb, #d5ebeb, black);
}

h1 {
  margin: 20px;
}

#skill {
  border: solid;
}

/* 
Highscore Css Below here */

#Page {
  background-color: #065e06;

}
.teamA{
align-items:start;
max-width:60%
}
.teamB{
  align-self:end;
max-width:60%
}
.admin{
  align-self:center;
}
.max-h-vw{
  max-height: 600px;
}
.header {
  border: 1px solid #ddd;
  /* border-radius: 4px; */
  padding: 10px;
  /* margin-bottom: 20px; */
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 75px;
  border: 10px solid #065e06;
  /* border-radius: 8px; */
  padding: 40px;
  /* margin-bottom: 30px;  */
  background-color: #21b2e7;
  opacity: 85%;
  color:white;
  font-size: 20px;

}

#C1 {
  /* border-radius: 16px; */
  padding: px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #d5ebeb;
  height: 900px;
  border: 10px solid;
  /* border-radius: 8px; */
  padding: 5px;
  background-color: #9caeb1;
  background-image: url("./images/XLIRd28ytlwKcMbFoJg1vEZh5xsqUzizC9Dgf5a9oAw.webp");
  background-size: cover;
  color: #065e06
}

#container1 {
  float: left;
  flex: content;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 25px;
  /* padding-bottom: 250px; */
  height: 250px;

}

.large-container {
  border: 15px solid;
  /* border-radius: 8px; */
  padding: 40px;
  /* margin-bottom: 40px;  */
  background-color: #9caeb1;
  justify-items: center;
  display: flex;
  height: 100px;
}

.highschore h2 {
  border: #065e06;
  border-style: inherit;
  width: fit-content;
  align-items: center;
  font-size: 60px;
  font-style: oblique;
  padding-right: 35px;
  padding-left: 35px;
  /* padding-top: 50px;  */
  box-sizing: content-box;
}

ul {
  font-size: 25px;

}